:root
{
    --maincolor: #1e90ff;
}
*
{

    color: black;
}
#div1, #div2 
{
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
table, td, tr
{
    border: 1px solid black;
    /* width: 100px; */
}
.note-control
{
    margin: auto;
    display: flex;
    background-color: white; 
    border:1px solid lightgray; 
    padding: 0px; 
    border-radius: 5px;
    width: 100px;
}
.note-control-btn
{
    /* display: table-cell;  */
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    border: none;
}
    .note-control-btn:hover
    {
       background-color: darkgray;
    }
.note-control-select
{
    /* width: 55px;  */
    height: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid lightgray;
    text-align: center;
}
    .note-control-select::-ms-expand 
    {
        display: none;
    }
    ::selection 
    {
        background-color: transparent;
    }
.note-control-drag
{
    /* display: table-cell;  */
    background-color: lightgray; 
    border:1px solid lightgray; 
    width: 100%;
}
    .note-control-drag:hover 
    {
        border: 1px solid purple;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
.note-control-drag-icon
{

}