:root
{
    --maincolor: #1e90ff;
}
*
{
    color: black;
}
table, td, tr
{
    border: 1px solid black;
}
button
{
    -webkit-appearance: none;
}
.note-control
{
    display: flex;
    background-color: white; 
    border:1px solid lightgray; 
    padding: 0px; 
    border-radius: 5px;
    min-width: 120px;
    max-width: 120px; 
}
.note-control-btn
{
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    border: none;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .note-control-btn:hover
    {
       background-color: darkgray;
    }
.note-control-select
{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid lightgray;
    text-align: center;
    min-width: 75%;
    background-color: white;
    -webkit-appearance: none;
}
    .note-control-select::-ms-expand 
    {
        display: none;
    }
    ::selection 
    {
        background-color: transparent;
    }
.note-control-drag
{
    background-color: lightgray; 
    border:1px solid lightgray; 
    width: 100%;
    display: flex; 
}
    .note-control-drag:hover 
    {
        border: 1px solid purple;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
.note-control-drag-icon
{
    display: flex; 
    width: 100%;
    justify-content: center;
    align-items: center;
}
.note-display
{
    margin: 0;
}